body{
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

#button_container{
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction:row;
    justify-content: center;
}

button{
    font-family: 'Press Start 2P', cursive;
    width: 10vw;
    height:5vh;
    font-size:1em;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
    
}