body{
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

#info{
    position: absolute;
    top: 0;
    width: 100vw;
    font-size: 0.8em;
    color:white;
    text-align: center;
}

#button_container{
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

button{
    font-family: 'Press Start 2P', cursive;
    padding: 5px 10px;
    height:10vh;
    font-size:1em;
    color: #ffffff;
    background-color: transparent;
    border: 1px solid #ffffff;
    margin: 0;
}